.col-width-1 {
  width: 5%; }

.col-width-2 {
  width: 10%; }

.col-width-3 {
  width: 15%; }

.col-width-4 {
  width: 20%; }

.col-width-5 {
  width: 25%; }

.col-width-6 {
  width: 30%; }

.col-width-7 {
  width: 35%; }

.col-width-8 {
  width: 40%; }

.col-width-9 {
  width: 45%; }

.col-width-10 {
  width: 50%; }

.col-width-11 {
  width: 55%; }

.col-width-12 {
  width: 60%; }

.col-width-13 {
  width: 65%; }

.col-width-14 {
  width: 70%; }

.col-width-15 {
  width: 75%; }

.col-width-16 {
  width: 80%; }

.col-width-17 {
  width: 85%; }

.col-width-18 {
  width: 90%; }

.col-width-19 {
  width: 95%; }

.col-width-20 {
  width: 100%; }

.col-horizontal-indent-1 {
  padding-left: 1%;
  padding-right: 1%; }

.col-horizontal-indent-2 {
  padding-left: 2%;
  padding-right: 2%; }

.col-horizontal-indent-3 {
  padding-left: 3%;
  padding-right: 3%; }

.col-horizontal-indent-4 {
  padding-left: 4%;
  padding-right: 4%; }

.col-horizontal-indent-5 {
  padding-left: 5%;
  padding-right: 5%; }

.col-horizontal-indent-6 {
  padding-left: 6%;
  padding-right: 6%; }

.col-horizontal-indent-7 {
  padding-left: 7%;
  padding-right: 7%; }

.col-horizontal-indent-8 {
  padding-left: 8%;
  padding-right: 8%; }

.col-horizontal-indent-9 {
  padding-left: 9%;
  padding-right: 9%; }

.col-horizontal-indent-10 {
  padding-left: 10%;
  padding-right: 10%; }

.col-horizontal-indent-11 {
  padding-left: 11%;
  padding-right: 11%; }

.col-horizontal-indent-12 {
  padding-left: 12%;
  padding-right: 12%; }

.col-horizontal-indent-13 {
  padding-left: 13%;
  padding-right: 13%; }

.col-horizontal-indent-14 {
  padding-left: 14%;
  padding-right: 14%; }

.col-horizontal-indent-15 {
  padding-left: 15%;
  padding-right: 15%; }

.col-horizontal-indent-16 {
  padding-left: 16%;
  padding-right: 16%; }

.col-horizontal-indent-17 {
  padding-left: 17%;
  padding-right: 17%; }

.col-horizontal-indent-18 {
  padding-left: 18%;
  padding-right: 18%; }

.col-horizontal-indent-19 {
  padding-left: 19%;
  padding-right: 19%; }

.col-horizontal-indent-20 {
  padding-left: 20%;
  padding-right: 20%; }

.col-vertical-indent-1 {
  padding-top: 1%;
  padding-bottom: 1%; }

.col-vertical-indent-2 {
  padding-top: 2%;
  padding-bottom: 2%; }

.col-vertical-indent-3 {
  padding-top: 3%;
  padding-bottom: 3%; }

.col-vertical-indent-4 {
  padding-top: 4%;
  padding-bottom: 4%; }

.col-vertical-indent-5 {
  padding-top: 5%;
  padding-bottom: 5%; }

.col-vertical-indent-6 {
  padding-top: 6%;
  padding-bottom: 6%; }

.col-vertical-indent-7 {
  padding-top: 7%;
  padding-bottom: 7%; }

.col-vertical-indent-8 {
  padding-top: 8%;
  padding-bottom: 8%; }

.col-vertical-indent-9 {
  padding-top: 9%;
  padding-bottom: 9%; }

.col-vertical-indent-10 {
  padding-top: 10%;
  padding-bottom: 10%; }

.col-vertical-indent-11 {
  padding-top: 11%;
  padding-bottom: 11%; }

.col-vertical-indent-12 {
  padding-top: 12%;
  padding-bottom: 12%; }

.col-vertical-indent-13 {
  padding-top: 13%;
  padding-bottom: 13%; }

.col-vertical-indent-14 {
  padding-top: 14%;
  padding-bottom: 14%; }

.col-vertical-indent-15 {
  padding-top: 15%;
  padding-bottom: 15%; }

.col-vertical-indent-16 {
  padding-top: 16%;
  padding-bottom: 16%; }

.col-vertical-indent-17 {
  padding-top: 17%;
  padding-bottom: 17%; }

.col-vertical-indent-18 {
  padding-top: 18%;
  padding-bottom: 18%; }

.col-vertical-indent-19 {
  padding-top: 19%;
  padding-bottom: 19%; }

.col-vertical-indent-20 {
  padding-top: 20%;
  padding-bottom: 20%; }

.col-offset-1 {
  margin-left: 5%; }

.col-offset-2 {
  margin-left: 10%; }

.col-offset-3 {
  margin-left: 15%; }

.col-offset-4 {
  margin-left: 20%; }

.col-offset-5 {
  margin-left: 25%; }

.col-offset-6 {
  margin-left: 30%; }

.col-offset-7 {
  margin-left: 35%; }

.col-offset-8 {
  margin-left: 40%; }

.col-offset-9 {
  margin-left: 45%; }

.col-offset-10 {
  margin-left: 50%; }

.col-offset-11 {
  margin-left: 55%; }

.col-offset-12 {
  margin-left: 60%; }

.col-offset-13 {
  margin-left: 65%; }

.col-offset-14 {
  margin-left: 70%; }

.col-offset-15 {
  margin-left: 75%; }

.col-offset-16 {
  margin-left: 80%; }

.col-offset-17 {
  margin-left: 85%; }

.col-offset-18 {
  margin-left: 90%; }

.col-offset-19 {
  margin-left: 95%; }

.col-offset-20 {
  margin-left: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.font-Raleway {
  font-family: 'Raleway', sans-serif; }

.font-lucida, body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", verdana, arial, sans-serif; }

.app-h5 {
  font-size: 0.9em;
  font-weight: bold; }

#backCover {
  height: 100%;
  background-image: url("../image/image.jpg");
  background-size: 100% 100%;
  position: fixed; }

#home {
  height: auto;
  background-color: transparent;
  position: absolute; }

header {
  height: auto;
  background-color: transparent;
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 0%;
  margin-right: 10%;
  top: 70px; }
  header h1 {
    background-color: #fff;
    display: inline-block;
    font-size: 60px;
    margin-top: 30%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%; }
  header h4 {
    margin-top: 0%;
    margin-left: 82%;
    margin-bottom: 0%;
    margin-right: 0%;
    background-color: #000;
    color: #fff;
    font-size: 16px; }

main {
  height: auto;
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 0%;
  margin-right: 10%; }
  main .main-content-header {
    background-color: rgba(0, 49, 69, 0.9);
    color: #fff; }

footer {
  height: auto;
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 0%;
  margin-right: 10%;
  background-color: #fff;
  text-align: center; }
  footer a {
    background-color: #fff;
    padding: 1%;
    border-color: #c2deea;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: inline-block;
    color: #00a1de;
    font-size: 0.9em;
    font-weight: bold; }
    footer a:hover {
      background-color: #c2deea;
      color: #00a1de; }

#content {
  background-color: #fff; }

.app-row:after {
  content: "";
  display: table;
  clear: both; }

.destination-text {
  font-size: 50px;
  color: #00a1de; }

.app-row {
  width: 100%; }
  .app-row div {
    float: left; }

.cust-select {
  height: 30px;
  border-color: #c2deea;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 0.8em; }
  .cust-select:hover {
    border-color: #00a1de;
    border-width: 1px;
    border-style: solid; }

.header-row-2-label {
  font-size: 16px;
  color: #003145; }
  .header-row-2-label span {
    color: #00a1de; }

.search-display-type {
  list-style: none;
  float: right;
  background-color: #009bdc;
  border-color: #217092;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  border-radius: 3px; }

.list-item {
  border-color: #c2deea;
  border-width: 2px;
  border-style: solid;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
  display: inline-block; }
  .list-item:after {
    content: " ";
    clear: both;
    display: block; }
  .list-item div {
    float: left; }

.dest-list-content-header > div {
  float: right; }
  .dest-list-content-header > div:first-child {
    float: left; }

.dest-list-content-main {
  border-bottom: 2px #c2deea dotted;
  line-height: 1.4;
  margin-top: 3%;
  margin-left: 0%;
  margin-bottom: 1%;
  margin-right: 0%;
  color: #003145; }

.country {
  font-size: 1.5em;
  color: #003145; }

.place {
  font-size: 2em;
  color: #00a1de; }

.currency {
  font-size: 0.8em;
  vertical-align: 10px;
  color: #00a1de; }

.price {
  font-size: 2em;
  color: #00a1de; }

.dest-list-content-footer {
  color: #005b82;
  font-size: 0.9em;
  line-height: 2.5; }

.footer-list {
  list-style: none;
  float: left;
  color: #005b82;
  font-size: 0.9em; }

.dest-list-image-wrapper {
  position: relative; }

.search-img {
  display: block; }

.cust-figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
  color: #fff;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

a.app-btn {
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  display: inline-block;
  border-radius: 2px;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
  font-weight: bolder; }

.app-btn-readmore {
  background-color: #00a1de;
  color: #fff; }
  .app-btn-readmore:hover {
    color: #fff;
    background-color: #4fb3e3; }

.side-menu {
  float: left;
  height: 100%;
  position: fixed;
  background-color: #fff; }
  .side-menu .menu {
    list-style: none;
    height: 100%; }
  .side-menu .menu-item {
    height: 50%;
    padding-top: 100%;
    color: #00a1de; }
    .side-menu .menu-item:first-child {
      background-color: #00a1de;
      color: #fff; }
  .side-menu .menu-link {
    display: block;
    text-align: center;
    margin-top: 0%;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-right: 10%;
    cursor: pointer; }
    .side-menu .menu-link .glyphicon {
      font-size: 3em; }
    .side-menu .menu-link .menu-link-label {
      display: block; }

/*# sourceMappingURL=style.css.map */
