    $complete_screen:100%;
    $position_fix:fixed;
    $position_absolute:absolute;
    $blue-light:#c2deea;
    $blue-medium :#00a1de;
    $blue-dark:#003145;
    $blue-medium-opaque:#4fb3e3;
    @for $i from 1 through 20 {
        .col-width-#{$i} {
            width: 5%* $i;
        }
    }
    
    @for $i from 1 through 20 {
        .col-horizontal-indent-#{$i} {
            padding-left: 1%* $i;
            padding-right: 1%* $i;
        }
    }
    
    @for $i from 1 through 20 {
        .col-vertical-indent-#{$i} {
            padding-top: 1%* $i;
            padding-bottom: 1%* $i;
        }
    }
    
    @for $i from 1 through 20 {
        .col-offset-#{$i} {
            margin-left: 5%* $i;
        }
    }
    
    @mixin background($color:#fff) {
        background-color: $color;
    }
    
    @mixin height($height:100%) {
        height: $height;
    }
    
    @mixin margin($top, $right, $bottom, $left) {
        margin: {
            top: $top;
            left: $left;
            bottom: $bottom;
            right: $right;
        }
    }
    
    // @mixin padding($top, $left, $bottom, $right) {
    //     padding: {
    //         top: $top;
    //         left: $left;
    //         bottom: $bottom;
    //         right: $right;
    //     }
    // }
    @mixin color($color:#000) {
        color: $color;
    }
    
    @mixin border($width, $color, $type) {
        border: {
            color: $color;
            width: $width;
            style: $type;
        }
    }
    
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    
    .font-Raleway {
        font-family: 'Raleway', sans-serif;
    }
    
    .font-lucida {
        font-family: "Lucida Sans Unicode", "Lucida Grande", verdana, arial, sans-serif;
    }
    
    .app-h5 {
        font-size: 0.9em;
        font-weight: bold;
    }
    
    body {
        @extend .font-lucida;
    }
    
    #backCover {
        height: 100%;
        background: {
            image: url("../image/image.jpg");
            size: $complete_screen $complete_screen;
        }
        position: $position_fix;
    }
    
    #home {
        @include height(auto);
        @include background(transparent);
        position: $position_absolute;
    }
    
    header {
        @include height(auto);
        @include background(transparent);
        @include margin(0%,
        10%,
        0%,
        10%);
        top: 70px;
        h1 {
            @include background();
            display: inline-block;
            font-size: 60px;
            @include margin(30%,
            0%,
            0%,
            0%);
        }
        h4 {
            @include margin(0%,
            0%,
            0%,
            82%);
            @include background(#000);
            @include color(#fff);
            font-size: 16px;
        }
    }
    
    main {
        @include height(auto);
        @include margin (0%,
        10%,
        0%,
        10%);
        .main-content-header {
            @include background(rgba(0, 49, 69, 0.9));
            @include color(#fff)
        }
    }
    
    footer {
        @include height(auto);
        @include margin (0%,
        10%,
        0%,
        10%);
        @include background();
        text-align: center;
        a {
            @include background();
            padding: 1%;
            @include border(1px,
            $blue-light,
            solid);
            border-radius: 3px;
            display: inline-block;
            @include color($blue-medium);
            font-size: 0.9em;
            font-weight: bold;
            &:hover {
                @include background($blue-light);
                @include color($blue-medium);
            }
        }
    }
    
    #content {
        @include background();
    }
    
    .app-row {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    
    .destination-text {
        font-size: 50px;
        @include color($blue-medium);
    }
    
    .app-row {
        width: 100%;
        div {
            float: left;
        }
    }
    
    .cust-select {
        @include height(30px);
        @include border(1px,
        $blue-light,
        solid);
        border-radius: 2px;
        &:hover {
            @include border(1px,
            $blue-medium,
            solid);
        }
        font-size: 0.8em;
    }
    
    .header-row-2-label {
        font-size: 16px;
        @include color(#003145);
        span {
            @include color($blue-medium);
        }
    }
    
    .search-display-type {
        list-style: none;
        float: right;
        @include background(#009bdc);
        @include border(1px,
        #217092,
        solid);
        @include color(#fff);
        font-size: 1.2em;
        text-align: center;
        border-radius: 3px;
    }
    
    .list-item {
        @include border(2px,
        $blue-light,
        solid);
        @include margin(2%,
        0%,
        2%,
        0%);
        display: inline-block;
        &:after {
            content: " ";
            clear: both;
            display: block;
        }
        div {
            float: left;
        }
    }
    
    .dest-list-content-header>div {
        float: right;
        &:first-child {
            float: left;
        }
    }
    
    .dest-list-content-main {
        border-bottom: 2px $blue-light dotted;
        line-height: 1.4;
        @include margin(3%,
        0%,
        1%,
        0%);
        @include color($blue-dark);
    }
    
    .country {
        font-size: 1.5em;
        @include color($blue-dark);
    }
    
    .place {
        font-size: 2em;
        @include color($blue-medium);
    }
    
    .currency {
        font-size: 0.8em;
        vertical-align: 10px;
        @include color($blue-medium);
    }
    
    .price {
        font-size: 2em;
        @include color($blue-medium);
    }
    
    .dest-list-content-footer {
        @include color(#005b82);
        font-size: 0.9em;
        line-height: 2.5;
    }
    
    .footer-list {
        list-style: none;
        float: left;
        @include color(#005b82);
        font-size: 0.9em;
    }
    
    .dest-list-image-wrapper {
        position: relative
    }
    
    .search-img {
        display: block;
    }
    
    .cust-figcaption {
        position: absolute;
        bottom: 0;
        @include background(rgba(0, 0, 0, 0.8));
        font-size: 0.8em;
        @include color(#fff);
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    a.app-btn {
        text-decoration: none;
        text-align: center;
        font-size: 0.9em;
        display: inline-block;
        border-radius: 2px;
        @include margin(2%,
        0%,
        2%,
        0%);
        font-weight: bolder;
    }
    
    .app-btn-readmore {
        @include background($blue-medium);
        @include color(#fff);
        &:hover {
            @include color(#fff);
            @include background($blue-medium-opaque);
        }
    }
    
    .side-menu {
        float: left;
        @include height();
        position: fixed;
        @include background(#fff);
        .menu {
            list-style: none;
            @include height();
        }
        .menu-item {
            @include height(50%);
            padding-top: 100%;
            @include color($blue-medium);
            &:first-child {
                @include background($blue-medium);
                @include color(#fff);
            }
        }
        .menu-link {
            display: block;
            text-align: center;
            @include margin(0%,
            10%,
            0%,
            10%);
            cursor: pointer;
            .glyphicon {
                font-size: 3em;
            }
            .menu-link-label {
                display: block;
            }
        }
    }